## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
0,0,Rikitea,PF,-23.1203,-134.9692,298.88,65,71,3.43,broken clouds
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
2,2,Bondo,CD,3.8146,23.6866,290.72,55,37,1.00,scattered clouds
3,3,Soyo,AO,-6.1349,12.3689,298.43,89,98,2.47,light rain
4,4,Vaini,TO,-21.2000,-175.2000,300.24,74,58,6.99,light rain

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 270

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
5,5,Tasiilaq,GL,65.6145,-37.6368,262.24,80,84,3.45,broken clouds
9,9,Albany,US,42.6001,-73.9662,263.11,74,6,0.77,clear sky
16,16,Norman Wells,CA,65.2820,-126.8329,256.17,78,100,5.14,light snow
18,18,Helong,CN,42.5397,128.9972,266.71,50,13,4.68,few clouds
19,19,Vardo,NO,70.3705,31.1107,264.26,83,40,4.10,scattered clouds
38,38,Missoula,US,47.0166,-113.8009,265.37,95,88,1.09,overcast clouds
39,39,Cherskiy,RU,68.7500,161.3000,252.93,88,100,2.66,overcast clouds
42,42,Narsaq,GL,60.9167,-46.0500,269.27,97,94,1.13,overcast clouds
43,43,Jamestown,US,42.0970,-79.2353,269.66,63,0,3.09,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID               0
City                  0
Country               0
Lat                   0
Lng                   0
Max Temp              0
Humidity              0
Cloudiness            0
Wind Speed            0
Current Conditions    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Conditions
1,1,Soligalich,RU,59.0778,42.2864,266.06,95,100,3.43,snow
5,5,Tasiilaq,GL,65.6145,-37.6368,262.24,80,84,3.45,broken clouds
9,9,Albany,US,42.6001,-73.9662,263.11,74,6,0.77,clear sky
16,16,Norman Wells,CA,65.2820,-126.8329,256.17,78,100,5.14,light snow
18,18,Helong,CN,42.5397,128.9972,266.71,50,13,4.68,few clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,College,US,64.8569,-147.8028,246.25,76,5,1.67,clear sky
682,682,Boguchany,RU,58.3814,97.4531,259.46,90,100,0.84,overcast clouds
690,690,Vanderhoof,CA,54.0166,-124.0198,263.30,97,99,1.25,overcast clouds
691,691,Kulu,TR,39.0951,33.0799,269.25,99,88,1.60,overcast clouds
692,692,Omsukchan,RU,62.5333,155.8000,252.17,97,100,2.93,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Conditions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
1,Soligalich,RU,266.06,snow,59.0778,42.2864,
5,Tasiilaq,GL,262.24,broken clouds,65.6145,-37.6368,
9,Albany,US,263.11,clear sky,42.6001,-73.9662,
16,Norman Wells,CA,256.17,light snow,65.2820,-126.8329,
18,Helong,CN,266.71,few clouds,42.5397,128.9972,
19,Vardo,NO,264.26,scattered clouds,70.3705,31.1107,
38,Missoula,US,265.37,overcast clouds,47.0166,-113.8009,
39,Cherskiy,RU,252.93,overcast clouds,68.7500,161.3000,
42,Narsaq,GL,269.27,overcast clouds,60.9167,-46.0500,
43,Jamestown,US,269.66,clear sky,42.0970,-79.2353,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
1,Soligalich,RU,266.06,snow,59.0778,42.2864,Kurort Im. A.p. Borodina
5,Tasiilaq,GL,262.24,broken clouds,65.6145,-37.6368,The Red House
9,Albany,US,263.11,clear sky,42.6001,-73.9662,
16,Norman Wells,CA,256.17,light snow,65.2820,-126.8329,Heritage Hotel
18,Helong,CN,266.71,few clouds,42.5397,128.9972,Helong Hotel
...,...,...,...,...,...,...,...
677,College,US,246.25,clear sky,64.8569,-147.8028,Pike's Waterfront Lodge
682,Boguchany,RU,259.46,overcast clouds,58.3814,97.4531,Uyut
690,Vanderhoof,CA,263.30,overcast clouds,54.0166,-124.0198,Vanderhoof Inn
691,Kulu,TR,269.25,overcast clouds,39.0951,33.0799,Kapadokya Motel
692,Omsukchan,RU,252.17,overcast clouds,62.5333,155.8000,

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Conditions,Lat,Lng,Hotel Name
1,Soligalich,RU,266.06,snow,59.0778,42.2864,Kurort Im. A.p. Borodina
5,Tasiilaq,GL,262.24,broken clouds,65.6145,-37.6368,The Red House
16,Norman Wells,CA,256.17,light snow,65.2820,-126.8329,Heritage Hotel
18,Helong,CN,266.71,few clouds,42.5397,128.9972,Helong Hotel
19,Vardo,NO,264.26,scattered clouds,70.3705,31.1107,Vardø Hotel AS

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Conditions}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))